### Import Modules

In [1]:
import pandas as pd

### Import Data and Get General Overview

In [2]:
df = pd.read_csv(r"C:\Users\User\Documents\Data Analysis\gitDataAnalysisProjects\Python\PoliceShootings\shootings.csv")

In [3]:
df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,5916,Rayshard Brooks,2020-06-12,shot,Taser,27.0,M,Black,Atlanta,GA,False,attack,Foot,True,Electrical devices
4891,5925,Caine Van Pelt,2020-06-12,shot,gun,23.0,M,Black,Crown Point,IN,False,attack,Car,False,Guns
4892,5918,Hannah Fizer,2020-06-13,shot,unarmed,25.0,F,White,Sedalia,MO,False,other,Not fleeing,False,Unarmed
4893,5921,William Slyter,2020-06-13,shot,gun,22.0,M,White,Kansas City,MO,False,other,Other,False,Guns
4894,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,White,Lawrence,KS,False,attack,Car,False,Guns

In [4]:
df.shape

(4895, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4895 entries, 0 to 4894
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       4895 non-null   int64
 1   name                     4895 non-null   object
 2   date                     4895 non-null   object
 3   manner_of_death          4895 non-null   object
 4   armed                    4895 non-null   object
 5   age                      4895 non-null   float64
 6   gender                   4895 non-null   object
 7   race                     4895 non-null   object
 8   city                     4895 non-null   object
 9   state                    4895 non-null   object
 10  signs_of_mental_illness  4895 non-null   bool
 11  threat_level             4895 non-null   object
 12  flee                     4895 non-null   object
 13  body_camera              4895 non-null   bool
 14  arms_category            4895 non-null   object
dtypes: bool(2), float64(1), int64(1), object(11)
memory usage: 506.8+ KB

# 1. Check For Null Values

In [6]:
df.isnull().sum()

id                         0
name                       0
date                       0
manner_of_death            0
armed                      0
age                        0
gender                     0
race                       0
city                       0
state                      0
signs_of_mental_illness    0
threat_level               0
flee                       0
body_camera                0
arms_category              0
dtype: int64

## Questions for Analysis:

### Which gender was shot the most?

In [7]:
df.gender.value_counts()

# Males (4673) vs Females (222)

gender
M    4673
F     222
Name: count, dtype: int64

### How many people had been shot on more than one occasion? And what were their names?

In [8]:
# remove values with an unknown value

known_names = df[~(df.name == 'TK TK')]

In [9]:
known_names.duplicated('name').sum()

# 16 people

16

In [10]:
known_names.name[known_names.duplicated('name')]

# 1065                 Eric Harris
# 1362             Michael Johnson
# 1724               Brandon Jones
# 2306               Michael Brown
# 2760              Robert Edwards
# 3348               Joseph Santos
# 3450                Jeffrey Sims
# 3577           Roderick McDaniel
# 3744             Robert Martinez
# 4183                 Jose Mendez
# 4335             Clayton Andrews
# 4354               Benjamin Diaz
# 4574       Miguel Mercado Segura
# 4635    Timothy Leroy Harrington
# 4800            Michael Ferguson
# 4830        David Tylek Atkinson

1065                 Eric Harris
1362             Michael Johnson
1724               Brandon Jones
2306               Michael Brown
2760              Robert Edwards
3348               Joseph Santos
3450                Jeffrey Sims
3577           Roderick McDaniel
3744             Robert Martinez
4183                 Jose Mendez
4335             Clayton Andrews
4354               Benjamin Diaz
4574       Miguel Mercado Segura
4635    Timothy Leroy Harrington
4800            Michael Ferguson
4830        David Tylek Atkinson
Name: name, dtype: object

### How many people were shot of each race?

In [11]:
df.race.value_counts()

# White       2476
# Black       1298
# Hispanic     902
# Asian         93
# Native        78
# Other         48

race
White       2476
Black       1298
Hispanic     902
Asian         93
Native        78
Other         48
Name: count, dtype: int64

### In which states did the most and least amount of shootings take place?

In [16]:
most_shootings = df.state.value_counts()[:1]
least_shootings = df.state.value_counts()[-1:]

print(most_shootings)
print(least_shootings)

# Highest -> CA (701)
# Lowest -> RI (4)

state
CA    701
Name: count, dtype: int64
state
RI    4
Name: count, dtype: int64

### What was the average age of people who were shot?

In [13]:
df.age.mean().round()

# Rounded to 37 years

37.0

### Of those who were shot, how many suffered from a mental illness?

In [20]:
df.signs_of_mental_illness.value_counts()

# 1103

signs_of_mental_illness
False    3792
True     1103
Name: count, dtype: int64

### Of those suffering from a mental illness, how many were male and female?

In [15]:
df.groupby(['gender', 'signs_of_mental_illness']).size()

# F -> 69
# M -> 1034

gender  signs_of_mental_illness
F       False                       153
        True                         69
M       False                      3639
        True                       1034
dtype: int64